# Sharpe Ratio and Other Portfolio Statistics

## Daily portfolio values

Here are the steps to calculate the daily portfolio values:

1. Create a dataframe of prices with columns for each stock, indexed by date
2. Normalize the prices dataframe (prices / prices[0]) into a normalized dataframe. These represent cumulative returns starting from the start date.
3. Multiply the normalized dataframe by the allocations for each stock into an allocations dataframe.
4. Multipy the allocations dataframe by the start value (how much money you started with) to calculate the amount of cash allocated to each stock. Save this into a postions dataframe.
5. Calculate the portfolio values each day by summing the positions across the 1 axis. Save this into a portfolio_value dataframe (or a series in your existing dataframe)

In [3]:
import pandas as pd
from util import get_data
from util import plot_data

In [5]:
start_val = 1_000_000
start_date = "2009-1-1"
end_date = "2011-12-31"
symbols = ["SPY", "XOM", "GOOG", "GLD"]
allocs = [0.4, 0.4, 0.1, 0.1]

1. Create a dataframe of prices with columns for each stock, indexed by date

In [9]:
dates = pd.date_range(start_date, end_date)
prices = get_data(symbols, dates)
prices

               SPY    XOM    GOOG     GLD
2009-01-02   86.80  74.48  321.32   86.23
2009-01-05   86.70  74.47  328.05   84.48
2009-01-06   87.28  73.26  334.06   85.13
2009-01-07   84.67  71.39  322.01   82.75
2009-01-08   85.01  72.15  325.19   84.46
...            ...    ...     ...     ...
2011-12-23  125.19  83.63  633.14  156.31
2011-12-27  125.29  83.69  640.25  154.91
2011-12-28  123.64  82.61  639.70  151.03
2011-12-29  124.92  83.68  642.40  150.34
2011-12-30  124.31  83.18  645.90  151.99

[756 rows x 4 columns]

2. Normalize the prices dataframe (prices / prices[0]) into a normalized dataframe. These represent cumulative returns starting from the start date.

In [11]:
normed = prices / prices.iloc[0]
normed

                 SPY       XOM      GOOG       GLD
2009-01-02  1.000000  1.000000  1.000000  1.000000
2009-01-05  0.998848  0.999866  1.020945  0.979705
2009-01-06  1.005530  0.983620  1.039649  0.987243
2009-01-07  0.975461  0.958512  1.002147  0.959643
2009-01-08  0.979378  0.968716  1.012044  0.979474
...              ...       ...       ...       ...
2011-12-23  1.442281  1.122852  1.970434  1.812710
2011-12-27  1.443433  1.123657  1.992562  1.796475
2011-12-28  1.424424  1.109157  1.990850  1.751479
2011-12-29  1.439171  1.123523  1.999253  1.743477
2011-12-30  1.432143  1.116810  2.010146  1.762612

[756 rows x 4 columns]

3. Multiply the normalized dataframe by the allocations for each stock into an allocations dataframe.

In [13]:
allocced = normed * allocs
allocced

                 SPY       XOM      GOOG       GLD
2009-01-02  0.400000  0.400000  0.100000  0.100000
2009-01-05  0.399539  0.399946  0.102094  0.097971
2009-01-06  0.402212  0.393448  0.103965  0.098724
2009-01-07  0.390184  0.383405  0.100215  0.095964
2009-01-08  0.391751  0.387487  0.101204  0.097947
...              ...       ...       ...       ...
2011-12-23  0.576912  0.449141  0.197043  0.181271
2011-12-27  0.577373  0.449463  0.199256  0.179647
2011-12-28  0.569770  0.443663  0.199085  0.175148
2011-12-29  0.575668  0.449409  0.199925  0.174348
2011-12-30  0.572857  0.446724  0.201015  0.176261

[756 rows x 4 columns]

4. Multipy the allocations dataframe by the start value (how much money you started with) to calculate the amount of cash allocated to each stock. Save this into a postions dataframe.

In [14]:
pos_vals = allocced * start_val
pos_vals

                      SPY            XOM           GOOG            GLD
2009-01-02  400000.000000  400000.000000  100000.000000  100000.000000
2009-01-05  399539.170507  399946.294307  102094.485248   97970.543894
2009-01-06  402211.981567  393447.905478  103964.894809   98724.341876
2009-01-07  390184.331797  383404.940924  100214.739201   95964.281573
2009-01-08  391751.152074  387486.573577  101204.406822   97947.350110
...                   ...            ...            ...            ...
2011-12-23  576912.442396  449140.708915  197043.445786  181271.019367
2011-12-27  577373.271889  449462.943072  199256.193203  179647.454482
2011-12-28  569769.585253  443662.728249  199085.024275  175147.860373
2011-12-29  575668.202765  449409.237379  199925.308104  174347.674823
2011-12-30  572857.142857  446723.952739  201014.564920  176261.162009

[756 rows x 4 columns]

5. Calculate the portfolio values each day by summing the positions across the 1 axis. Save this into a portfolio_value dataframe (or a series in your existing dataframe)

In [17]:
port_val = pos_vals.sum(axis = 1)
port_val

2009-01-02    1.000000e+06
2009-01-05    9.995505e+05
2009-01-06    9.983491e+05
2009-01-07    9.697683e+05
2009-01-08    9.783895e+05
                  ...
2011-12-23    1.404368e+06
2011-12-27    1.405740e+06
2011-12-28    1.387665e+06
2011-12-29    1.399350e+06
2011-12-30    1.396857e+06
Length: 756, dtype: float64

## Portfolio Statistics

### Daily returns

In [29]:
def compute_daily_returns(df):
    daily_returns = df.copy()
    daily_returns[1:] = (df[1:] / df[:-1].values) - 1
    daily_returns.iloc[0, :] = 0 # set daily returns for row 0 to 0
    return daily_returns

In [35]:
df2 = pd.DataFrame(port_val, columns=['portfolio_value'])
daily_returns = compute_daily_returns(df2)
daily_returns

            portfolio_value
2009-01-02         0.000000
2009-01-05        -0.000450
2009-01-06        -0.001202
2009-01-07        -0.028628
2009-01-08         0.008890
...                     ...
2011-12-23         0.008174
2011-12-27         0.000977
2011-12-28        -0.012858
2011-12-29         0.008421
2011-12-30        -0.001782

[756 rows x 1 columns]

### Cumulative returns

In [33]:
return_port = port_val[-1] / port_val[0] - 1
print("Cumulative returns", return_port * 100, "%")

Cumulative returns 39.68568225244211 %

### Average daily returns

In [44]:
avg_daily_ret = daily_returns.mean()
print("Average daily return", avg_daily_ret[0] * 100, "%")

Average daily return 0.051581060348157626 %

### STD daily returns

In [45]:
std_daily_ret = daily_returns.std()
print("STD daily return", std_daily_ret[0] * 100, "%")

STD daily return 1.2134995631578664 %

### Sharpe ratio

The Sharpe ratio was developed by Nobel laureate William F. Sharpe and is used to help investors understand the return of an investment compared to its risk. The ratio is the average return earned in excess of the risk-free rate per unit of volatility or total risk.

We can calculate it by using:

S = mean(daily_rets - daily_risk_free_rate) / std(daily_rets - daily_risk_free_rate)

But what is the risk free rate?
* LIBOR (London Inter-Bank Offered Rate)
* 3 month T-Bill
* 0%
* In Brazil we could use the CDI

A traditional short cut is use the annual return and divide it by the square root of 252 days, so

daily_risk_free_rate = <sup>252</sup>root(1.0 + 0.1) -1 

We could use 0 if we want